*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #FF7DDE , #f16ad0); 
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #e24cae;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.todo-app h2:hover {
  color: #f330e9; /* πιο ροζ όταν περνάει το ποντίκι */
  cursor: pointer; /* χεράκι για να φαίνεται clickable */
  transition: color 0.3s ease; /* ομαλή μετάβαση χρώματος */
}

.todo-app h2 img:hover {
  transform: scale(1.2); /* μεγαλώνει 20% */
  transition: transform 0.3s ease; /* ομαλή μετάβαση μεγέθους */
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF59D6;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    background: #d03fa7;
    border: none;
    outline: none;
    padding: 16px 50px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; 
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF59D6;
    transition: all 0.3s ease;
}
li:hover {
    background: #ffe0f7;  /* Απαλό ροζ background όταν περνάει το ποντίκι */
}

li:hover::before {
    background: #ff1aa3;  /* Σκούρο ροζ χρώμα στον κύκλο */
    transform: scale(1.2); /* Μεγαλώνει ελαφρώς τον κύκλο */
}
ul li.checked{
    text-decoration: line-through;
    color: #4fbdc3;
}
ul li.checked::before{
    background: #4fbdc3;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fa42c0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #f099d7;
    border-radius: 50%;
    cursor: pointer;
}